#Constants {
    includeNativeBool: true;
}

Ajouteroffer {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: #ffffff;
    text-align:center;
    background-color: #a94064;
    font-size: 60px;
    margin-top: 9mm;
}

Save {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: #ffffff;
    text-align:center;
    background-color: #a94064;
    font-size: 60px;
}

Rate {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: black;
    text-align:center;
    background-color: #ff9529;
    font-size: 60px;
}

displayoffers {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: #ffffff;
    text-align:center;
    background-color: #a94064;
    font-size: 60px;
    margin-top: 5mm;
}

displaysites {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: #ffffff;
    text-align:center;
    background-color: #a94064;
    font-size: 60px;
    margin-top: 5mm;
}

form{
    background-image: url(../src/Beautiful-Nature-iPhone-X-Wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
formtwo{
    background-image: url(../src/josh-alex-x6FHC3LiYAI-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
formsite{
    background-image: url(../src/Beautiful-Nature-Apple-iPhone-X-Wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
formthree{
    background-image: url(../src/Beautiful-Nature-Apple-iPhone-X-Wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

label1l, label2l,label3l{
    font-size: 120px;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    color: #ffffff;
    margin-top: 3mm;
}
label11l{
    font-size: 180px;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    color: #ffffff;
    margin-top: 6mm;
    margin-left: 6mm;
}
label22l{
    font-size: 100px;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    color: #ffffff;
}
appuyer{
    font-size: 7pt;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    color: #a94064;
}
appuyer1{
    font-size: 6pt;
    font-family: "Josefin Sans",sans-serif;
    font-style: normal;
    color: #a94064;
}
map {
    border: 1px solid #6a706e;
    border-radius: 25px;
    font-family: "Bauhaus 93", sans-serif;
    color: #ffffff;
    text-align:center;
    background-color: #a94064;
    font-size: 60px;
    margin-top: 2mm;
}